.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    word-break: break-word;
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;

    @media (max-width: 400px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
      column-gap: 10px;
      row-gap: 20px;
    }
  }
}